body {
  margin: 0;
}

header {
  background-color: black;
  color: white;
}

.aside {
  text-align: center;
  text-decoration: underline;
  padding: 16px;
  font-size: 14px;
}

.headertop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  margin-bottom: 15px;
}

.leftbox {
  width: 500px;
}
.logocontainer {
  width: 102px;
  height: 32px;
}

#mainlogo {
  width: 100%;
  height: 100%;
  align-items: center;
}

.underline {
  border-bottom: white solid 0.01px;
}

.topmenucontainer {
  width: 300px;
  padding: 0px 24px;
}

.menulist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  list-style: none;
  padding-left: 0px;
}

.mymenucontainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 14px;
  width: 500px;
  height: 42px;
  align-items: center;
}

.behost {
  margin-right: 10px;
}

.globe {
  margin-right: 10px;
}

.headerbottom {
  padding: 0 80px;
}

.searchcontainer {
  height: 66px;
  margin: 0 280px;
}

.searchbox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 110px;
  display: flex;
  justify-content: center;
}

.search-place {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-startdate {
  width: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.search-enddate {
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.search-number {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.button-container {
  width: 45px;
  height: 45px;
  padding: 4px;
  margin-top: 6px;
  border-radius: 100%;
  background-color: #ff385c;
  position: relative;
  display: flex;
}

.search_button:hover {
  background-color: #ff385c;
}

a {
  color: white;
}

a:hover {
  color: rgb(199, 193, 193);
}

.black {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.leftmargin {
  margin-left: 20px;
}

.bottombutton button {
  border: 1px solid white;
  background: transparent;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

main {
    padding: 80px; 
    background: linear-gradient(to bottom, black 500px, white 500px);
}

.searchbox input {
  cursor: default;
  background: transparent;
  border: none;
}

.rightborder {
  border-right: rgb(214, 206, 206) 2px solid;
}
main .sec02 {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 120px;
    background-image: url('https://img2.10bestmedia.com/Images/Photos/379809/GettyImages-904960682_54_990x660.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 80px;
}
main .sec02 h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}
main .sec02 button {
    background-color: white;
    outline: none;
    border: none;
    font-size: 19px;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 20px;
    color: #a29bfe;
    cursor: pointer;
}
main .sec02 button:hover {
    background-color: #a29bfe;
    color: white;
}
main .sec03 {
    margin-bottom: 80px;
}
main .sec03 > h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
main .sec03 .place-wrapper {
    display: flex;
    justify-content: space-between;
}
main .sec03 .place-wrapper .place-box {
    width: 23%;
    height: 370px;
    display: flex;
    flex-direction: column;
}
main .sec03 .place-wrapper .place-box > div {
    flex: 1;
}
main .sec03 .place-wrapper .place-box .place-img {
    background-color: black;
    border-radius: 20px 20px 0 0;
}
main .sec03 .place-wrapper .place-box1 .place-img {
    background-image: url('https://a0.muscache.com/im/pictures/19d4c139-3615-4440-b5e3-55ee3f87e240.jpg?im_w=320');
    background-position: center center;
    background-size: cover;
}
main .sec03 .place-wrapper .place-box2 .place-img {
    background-image: url('https://a0.muscache.com/im/pictures/55250d06-92f1-4d22-be89-9f20f2bcb1fc.jpg?im_w=320');
    background-position: center center;
    background-size: cover;
}
main .sec03 .place-wrapper .place-box3 .place-img {
    background-image: url('https://a0.muscache.com/im/pictures/e25ccbca-1515-4510-baa6-9d2c473865dc.jpg?im_w=320');
    background-position: center center;
    background-size: cover;
}
main .sec03 .place-wrapper .place-box4 .place-img {
    background-image: url('https://a0.muscache.com/im/pictures/ffde0c4b-1889-4d11-bb00-41411d34fdfc.jpg?im_w=320');
    background-position: center center;
    background-size: cover;
}
main .sec03 .place-wrapper .place-box .place-desc {
    background-color: red;
    padding: 25px 15px;
    color: white;
    border-radius: 0 0 20px 20px;
}
main .sec03 .place-wrapper .place-box .place-desc h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
main .sec03 .place-wrapper .place-box .place-desc p {
    font-size: 18px;
}
main .sec03 .place-wrapper .place-box1 .place-desc {
    background-color: #fab1a0;
}
main .sec03 .place-wrapper .place-box2 .place-desc {
    background-color: #ff7675;
}
main .sec03 .place-wrapper .place-box3 .place-desc {
    background-color: #ffeaa7;
}
main .sec03 .place-wrapper .place-box4 .place-desc {
    background-color: #fdcb6e;
}

main .sec04 {
    margin-bottom: 80px;
}
main .sec04 > h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
main .sec04 .trip-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
main .sec04 .trip-wrapper .trip-box {
    width: 48%;
    height: 600px;
    border-radius: 20px;
    padding: 55px;
}
main .sec04 .trip-wrapper .trip-box:nth-child(1) {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmZhsU7KHB1GQSnsuzk9ttSWkdsR8qit4CLQ&usqp=CAU');
    background-position: center center;
    background-size: cover;
}
main .sec04 .trip-wrapper .trip-box:nth-child(2) {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRObx4mTD64Z3VP7C1Tlhhwt0fwZYWhikvKQA&usqp=CAU');
    background-position: center center;
    background-size: cover;
}
main .sec04 .trip-wrapper .trip-box h2 {
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3;
}
main .sec04 .trip-wrapper .trip-box button {
    background-color: white;
    outline: none;
    border: none;
    padding: 15px 40px;
    border-radius: 20px;    
    cursor: pointer;
}
main .sec04 .trip-wrapper .trip-box button:hover {
    background-color: black;
    color: white;
}

.bottomcontainer {
  border-radius: 15px;
  background-color: #ff385c;
  padding: 110px 150px;
  margin-top: 90px;
}

.bottomword {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.02em;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}

.bottombutton {
  padding-top: 25px;
  justify-content: center;
  text-align: center;
}

.whitefont {
  color: white;
}

.scale {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
}

main .sec05 {
    background-size: cover;
    height: 700px;
    border-radius: 10px;
    background-image: url("./image_footer/sec05_background.jpg");
}

main .sec05 .hosting-QA p {
    font-size: 95px;
    font-weight: bolder;
    letter-spacing: -3px;
    line-height: 110%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    color: white;
    padding: 80px;
}

main .sec05 .hosting-QA span{
    font-size: 15px;
    font-weight: 550;
    justify-content: start;
    background-color: white;
    padding-inline: 25px;
    padding-block: 13px;
    margin: 80px;
    border-radius: 10px;
    cursor: pointer;
}

main .sec05 .hosting-QA span:hover {
    background: rgb(220,220,220)
}

footer {
    background-color: rgb(247, 247, 247);
    background-size: cover;
    padding: 30px 80px;
}

footer .itembox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 20px;
} 

footer .itemitem {
    min-width: 350px;
}

footer .itembox span {
    font-weight: 550;
    color: black;
    display: block;
    padding-bottom: 10px;
}

footer .itembox ul {
    list-style: none;
    padding-left: 0px;
    line-height: 250%;
    font-size: 14px;
    color: black;
}

footer .itembox .item:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .appendix {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(220,220,220);
    padding-top: 10px;
}

footer .appendix .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
}

footer .appendix .content span {
    font-weight: 300;
    font-size: 14px;
    color: black;
    display: block;
    margin-right: 10px;
    margin-top: 15px;
} 

footer .appendix .content .content-item:hover {
    text-decoration: underline;
    cursor: pointer;
}


footer .appendix .lan-cur {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 550;
    color: black;
    cursor: pointer;
    height: 10px;
    margin-top: 20px;
    padding-left: 150px;
    text-decoration: underline;
} 

footer .appendix .lan-cur .span-lan-cur:hover {
    text-decoration: underline;
}

footer .appendix .lan-cur span {
    display: block;
    padding: 10px;
}

footer .language {
    display: flex;
    align-items: center;
}

footer .current {
    display: flex;
    align-items: center;
}

footer .appendix .icon-container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
}
