header {

}
main {

}
main .sec01 {

}
main .sec02 {

}
main .sec03 {
    
}
main .sec04 {
    
}
main .sec05 {
    margin: 0px 72px 50px;
    background-size: cover;
    height: 700px;
    border-radius: 10px;
    background-image: url('https://a0.muscache.com/im/pictures/0903a029-e330-41f6-add2-652954f62185.jpg?im_w=720')
}

main .sec05 .hosting-QA p {
    font-size: 95px;
    font-weight: bolder;
    letter-spacing: -3px;
    line-height: 110%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    color: white;
    padding: 80px;
}

main .sec05 .hosting-QA span{
    font-size: 15px;
    font-weight: 550;
    justify-content: start;
    background-color: white;
    padding-inline: 25px;
    padding-block: 13px;
    margin: 80px;
    border-radius: 10px;
    cursor: pointer;
}

main .sec05 .hosting-QA span:hover {
    background: rgb(220,220,220)
}

footer {
    background-color: rgb(247, 247, 247);
    background-size: cover;
    padding: 60px;
}

footer .itembox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
} 

footer .itemitem {
    min-width: 350px;
}

footer .itembox span {
    font-weight: 550;
    color: black;
}

footer .itembox ul {
    list-style: none;
    padding-left: 0px;
    line-height: 250%;
    font-size: 14px;
    color: black;
}

footer .itembox .item:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .appendix {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(220,220,220);
    padding-top: 0px;
}

footer .appendix .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
}

footer .appendix .content span {
    font-weight: 300;
    font-size: 14px;
    color: black;
    display: block;
    margin-right: 10px;
    margin-top: 15px;
} 

footer .appendix .content .content-item:hover {
    text-decoration: underline;
    cursor: pointer;
}


footer .appendix .lan-cur {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    height: 10px;
    margin-top: 20px;
} 

footer .appendix .lan-cur .span-lan-cur:hover {
    text-decoration: underline;
}

footer .language {
    display: flex;
    align-items: center;
}

footer .current {
    display: flex;
    align-items: center;
}

footer .appendix .icon-container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 7px;
}